.song-details {
  position: absolute;
  left: 20px;
  line-height: 22px;

  .song-name {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    color: #fff;
    font-size: 14px;
  }

  .artist-name {
    font-family: 'Proxima Thin', Georgia, sans-serif;
    color: #c92c83;
    font-size: 12px;
  }
}

.song-controls {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.forward, .reverse, .play-btn {
  padding: 0 5px;
  color: rgb(238, 238, 238);
  cursor: pointer;
}

.reverse, .forward {
  font-size: 16px;
}

.song-player-container {
  .play-btn {
    position: relative;
    top: -7px;
    font-size: 40px;
  }

  .pause-btn {
    position: relative;
    top: -7px;
    font-size: 40px;
    margin: 0 5px;
  }
}

.play-btn .fa {
 // -webkit-text-stroke: 4px rgb(40, 40, 40);
}

.song-progress-container {
  margin-top: -10px;
  display: flex;
  justify-content: center;
}

.song-progress {
  width: 500px;
  height: 4px;
  background: rgb(64, 64, 64);
  border-radius: 4px;
}

.song-expired {
  margin: 0;
  width: 100px;
  height: 4px;
  background: #bcf0c2;
  border-radius: 4px;
}

.timer-start {
  font-size: 12px;
  position: relative;
  top: -5px;
  left: -10px;
}

.timer-end {
  font-size: 12px;
  position: relative;
  top: -5px;
  left: 10px;
}
