// Body
//$body-bg: #d1f4e3;
$body-bg:   #fbf2de;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-proxima: 'Proxima Bold', Georgia, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$primary: #089f6b;
$primary-dark:#04563d;

$secondary: #ff2381;
$secondary-dark: #81195d;

