doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=1028")
    meta(name="theme-color", content="#000000")
    title= title
    script.
      window.clientId    = "#{authparams ? authparams.clientId : ''}";
      window.scopes      = "#{authparams ? authparams.scopes.join('%20') : ''}";
      window.redirectUri = "#{authparams ? authparams.redirectUri : ''}";

    link(rel='stylesheet', href="/fonts/fonts.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href="/static/css/main.css")
    block header

  body
    block content

