.loginModal{
    .paper{
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
        width:260px;
        height:100vh;
        padding:3rem;
        background-color: rgba(11, 159, 127, 0.94);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1{
            font-size:1.6rem;
            color:white;
            letter-spacing:1rem;
        }
        p{
            span{
                color:white;
                margin-right:20px;
                width:100%;
                display:block;
            }
            font-size:0.8rem;
            margin:2rem 0;
            line-height:1.2rem;
            color: #ffb600;
            word-break: break-all;
        }

        label.MuiFormLabel-root{
            color: #86f707;
        }

        .MuiFormControl-root{
            width:100% !important;
            input{
                padding:10px;
            }
        }

        input.MuiInputBase-input{
            color:white;

        }
    }

}
